### Rename Multiple Pandas Dataframe Column Names At Once

In [1]:
import pandas as pd

pd.set_option('display.max_row',1000)

pd.set_option('display.max_columns',50)

In [ ]:
data = {    'Commander':['Jason','Molly','Tina','Jake','Amy'],
            'Date':['2012, 02, 08', '2012, 02, 08','2012, 02, 08','2012, 02, 08','2012, 02, 08'],
            'Score':[4,24,31,2,3]
            
            }


# # Create an example dataframe
# data = {'Commander': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
#         'Date': ['2012, 02, 08', '2012, 02, 08', '2012, 02, 08', '2012, 02, 08', '2012, 02, 08'],
#         'Score': [4, 24, 31, 2, 3]}